<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
        <script src="/js/typing_animation.js"></script>
    </head>
    <body>
        <h1>GIFTI</h1><br><br>
        <p class="text" id="comment">선물하기 막막할 때는?&nbsp; 선물로 성향을 알아보자!</p>
        <p class="typing" style="width: 178px; height: 50px;"></p>
        <img src="/img/gift.png" style="height: 100px; width: 100px;margin-bottom: 80px;margin-top: 80px;">
        <a href="#" class="menu__link">
            시작하기
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 152.9 43.4" style="enable-background:new 0 0 152.9 43.4;" xml:space="preserve">
                <path d="M151.9,13.6c0,0,3.3-9.5-85-8.3c-97,1.3-58.3,29-58.3,29s9.7,8.1,69.7,8.1c68.3,0,69.3-23.1,69.3-23.1 s1.7-10.5-14.7-18.4"/>
            </svg>
        </a>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>