<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 style="color: #F7CA18;">GIFTI</h1>
        <p id="comment">선물하기 막막할 때는?<br>선물로 성향을 알아보자!</p>
        <img src="/img/gift.png" style="height: 100px; width: 100px;margin-bottom: 80px;margin-top: 80px;">
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <a href="q1.html" class="btn btn-sm animated-button thar-three">시작하기</a> 
        </div>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>