<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./../public/CSS/style.css">
    </head>
    <body>
        <a href="main.html" style="text-decoration: none;">
            <!-- <img src="./../public/gift.png" style="width:50px; height:50px;display: inline;"> -->
            <h4 style="font-size: 35px; color:  #F7CA18; text-align: center;">GIFTI</h4>
        </a>
        <p id="question">자기계발을 위해 어떤 것을 더 중요시하나요?</p>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;">마음의 양식을 쌓게 하는 독서</button> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;">건강이 우선! 몸을 건강하게 해 주는 운동</button> 
        </div>
        <button type="button" onClick="location.href='NT-q2.html'" id="next">next</button>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>