<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./../public/CSS/style.css">
    </head>
    <body>
        <a href="main.html" style="text-decoration: none;">
            <!-- <img src="./../public/gift.png" style="width:50px; height:50px;display: inline;"> -->
            <h4 style="font-size: 35px; color:  #F7CA18; text-align: center;">GIFTI</h4>
        </a>
        <p id="question">이사를 하게 된 당신,<br>방을 어떻게 꾸미시겠습니까?</p>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 400px;">내가 좋아하는 물건들로 채우기 위해,<br>다양한 인테리어 사진을 찾아본다.</button> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 400px;">필요한 가구만 사서 채운다.</button> 
        </div>
        <button type="button" onClick="location.href='NT-q3.html'" id="next">next</button>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>