<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </head>
    <body>

        <a href="main" style="text-decoration: none;">
            <!-- <img src="./../public/gift.png" style="width:50px; height:50px;display: inline;"> -->
            <h4 style="font-size: 35px; color:  #F7CA18; text-align: center;">GIFTI</h4>
        </a>
        <p id="question">어떤 스타일의 선물을<br>더 좋아하시나요?</p>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;" id='s'
            onclick="btn_event(this.id)">실용적이고 오래 쓸 수 있는 선물</button> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">         
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;" id='n'
             onclick="btn_event(this.id);">화려하고 내가 계속 사고 싶어 했던 선물</button> 
        </div>

        <button type="button" onClick="next_event(1)" id="next">next</button>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="js/button_event.js"></script>
        <script type="text/javascript" src="js/input_data.js"></script>
    </body>
</html>
