<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./../public/CSS/style.css">
    </head>
    <body>
        <script type="text/javascript" src="button_event.js"></script>
        <a href="main.html" style="text-decoration: none;">
            <!-- <img src="./../public/gift.png" style="width:50px; height:50px;display: inline;"> -->
            <h4 style="font-size: 35px; color:  #F7CA18; text-align: center;">GIFTI</h4>
        </a>
        <p id="question">선물이 어땠냐는 친구의 물음에<br>나의 반응은?</p>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 400px;" id='n'
            onclick="btn_event(this.id)">너무 마음에 들었어!</button> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 400px;" id='s'
            onclick="btn_event(this.id)">어떤 부분이 좋았는지 말해준다.</button> 
        </div>
        <button type="button" onClick="next_event(5)" id="next">next</button>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>