<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./../public/CSS/style.css">
    </head>
    <body>
        <script type="text/javascript" src="button_event.js"></script>
        <a href="main.html" style="text-decoration: none;">
            <!-- <img src="./../public/gift.png" style="width:50px; height:50px;display: inline;"> -->
            <h4 style="font-size: 35px; color:  #F7CA18; text-align: center;">GIFTI</h4>
        </a>
        <p id="question">'오늘 너무 우울해서 쇼핑 좀 하다 왔어.'<br>라고 말하는 친구에게 해줄 말은?</p>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;" id='t'
            onclick="btn_event(this.id)">어디서 했는데?</button> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;" id='f'
            onclick="btn_event(this.id)">헉.. 왜 우울한데?</button> 
        </div>
        <button type="button" onClick="next_event(9)" id="next">next</button>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>