<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GIFTI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </head>
    <body>
        <script type="text/javascript" src="js/personalize_question.js"></script>
        <a href="main" style="text-decoration: none;">
            <!-- <img src="./../public/gift.png" style="width:50px; height:50px;display: inline;"> -->
            <h4 style="font-size: 35px; color:  #F7CA18; text-align: center;">GIFTI</h4>
        </a>
        <p id="question">집에 혼자 있을 때,<br>끼니를 어떻게 해결하시나요?</p>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;" id="kitchen"
            onclick="btn_event(this.id)">오늘은 내가 요리사!<br>레시피를 찾아보며 요리에 도전한다.</button> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <button class="choice btn btn-sm animated-button thar-three" style="width: 300px;" id="all"
            onclick="btn_event(this.id)">식당이 괜히 있겠나~<br>배달시켜 먹는다.</button> 
        </div>
        <button type="button" onClick="next_page(2)" id="next">next</button>
        <p id="copyright">ⓒ 2020. For's all rights reserved.</p>
    </body>
</html>