@font-face {
    font-family:"fontThick";
    src:url("../font/SCDream7.otf") format("opentype");
}
@font-face{
    font-family:"fontLight";
    src:url("../font/SCDream5.otf") format("opentype");
}
body {
    font-family:fontLight;
    background-image:url("../img/background.jpg");
    min-height:100%;
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
}
.finalQ {
    font-size: 20px;
    text-decoration:none; 
    color: black;
    border-bottom:4px solid #F7CA18; border-top:4px solid #F7CA18; 
    padding-bottom:6px; padding-top:6px;
}
.highlight {
    color: black;
    background: linear-gradient(to top, #F7CA18 50%, transparent 50%);
    font-weight: bold;
}
p {
    text-align: center;
    color: black;
}
#rank {
    color: #F7CA18;
    text-align: center;
    padding-right: 20px;
}
table {
    font-size: 25px;
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 65px;
}
#comment {
    display: none;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
}
.typing {   
    line-height: 50px;
    margin : 0 auto; /* 고정 폭의 요소 화면 중앙 정렬(가로) */
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#copyright {
    color:#654321;
    text-align: center;
    font-size: 13px;
    position:absolute;
    padding-top:10px;
    width:100%;
    height:50px;   
}
.choice {
    background-color:  #353535;
    font-size: 16px;
    border-radius: 12px;
}
#question {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: "fontThick";
    color:#654321;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
}
a {
    width: 10px;
    /* 줄바꿈 제거 */
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
#next, #store1, #store2, #share, #kakaoBtn {
    background-color: #F7CA18;
    border: none;
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 70px;
    height: 40px;
    border-radius: 12px;
    margin:20px auto;
    display:block;
    margin-top: 40px;
    font-family: "fontLight";
}
a.animated-button.thar-three {
    color: #654321;
    text-decoration: none;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin:30px auto;
    text-align: center;
	cursor: pointer;
	position: relative;
	border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
}
a.animated-button.thar-three:hover {
    color: #000 !important;
	background-color: transparent;
    text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
    width: 100%;
    border-radius: 10px;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
button.animated-button.thar-three {
    background: transparent;
    color:#654321;
    cursor: pointer;
    display: flex;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    font-size: 14px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin:30px auto;
    font-family: "fontLight";
    text-align: center;
	position: relative;
	border: 2px solid #F7CA18;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
}
button.animated-button.thar-three:hover {
    background-color: #F7CA18;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

button.animated-button.thar-three:active {
    transform:translateY(4px);
}

button.animated-button.thar-three:focus{
    background-color : #F7CA18;
    color:black;
    outline:none !important ;
}


.shaking {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }